<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="wrapper">
  <div class="headWrapper">
    <div class="head">
      <div class="headMain clearfix">
        <div class="logo"><img src="images/logoB.png" width="48" height="37" alt="会见" title="会见"> 会见系统管理平台</div>
        <div class="loginArea">欢迎您，<span class="userName"><a href="#">郑小凡</a></span>&nbsp;|&nbsp;<span class="loginOut"><a href="#" style="color:#ff8a52;">注销</a></span></div>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="mainBody clearfix">
      <div class="nav">
        <ul>
          <li><a href="userManage.html">用户管理</a></li>
          <li><a href="deviceManage.html">终端管理</a></li>
          <li class="cur"><a href="meetingManage.html">录播系统</a></li>
          <li><a href="#">媒体服务</a></li>
          <li><a href="adminManage.html">设置</a></li>
          <li><a href="#">日志</a></li>
          <li><a href="#">下载</a></li>
        </ul>
      </div>
      <div class="mainCon">
        <div class="content">
          <div class="searchCon clearfix">
            <div class="meetingSelectOpts">
              <table width="650" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>会议类型:</td>
                  <td><input name="textfield" type="text" id="textfield" class="mSelectIpt">
                    <div class="mSelectOpt">
                      <ul>
                        <li>会议类型1</li>
                        <li>会议类型2</li>
                        <li>会议类型3</li>
                      </ul>
                    </div></td>
                  <td>会场:</td>
                  <td><input name="textfield2" type="text" id="textfield2" class="mSelectIpt">
                    <div class="mSelectOpt">
                      <ul>
                        <li>会场1</li>
                        <li>会场2</li>
                        <li>会场3</li>
                      </ul>
                    </div></td>
                  <td>时间:</td>
                  <td><input name="textfield3" type="text" id="textfield3" class="mSelectIpt">
                    <div class="mSelectOpt">
                      <ul>
                        <li>时间1</li>
                        <li>时间2</li>
                        <li>时间3</li>
                        <li>时间3</li>
                        <li>时间3</li>
                        <li>时间3</li>
                        <li>时间3</li>
                        <li>时间3</li>
                        <li>时间3</li>
                      </ul>
                    </div></td>
                </tr>
              </table>
            </div>
            <div class="search fr">
              <input type="text" class="iptText" value="会议主题/会议名称">
              <input name="" type="button" class="searchBtn">
            </div>
          </div>
          <div class="listCon">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableSty3">
              <tr>
                <th align="center">会议主题</th>
                <th align="center">主持人</th>
                <th align="center">会议号码</th>
                <th align="center">会议类型</th>
                <th align="center">开始时间</th>
                <th align="center">结束时间</th>
                <th align="center">参会人</th>
                <th align="center">操作</th>
              </tr>
              <tr>
                <td align="center">产品讨论会 <span class="editUser editMeetingN"></span></td>
                <td align="center">葛鹏</td>
                <td align="center">2001</td>
                <td align="center">多方会议</td>
                <td align="center">2015-12-04 8:30</td>
                <td align="center">2015-12-04 10:30</td>
                <td align="center" class="meetingUser">葛鹏   张自敏  宇浩 <a href="#" class="moreMeetingU">更多</a></td>
                <td align="center" class="meetingSet"><a href="#" class="shareMeeting">分享</a> <a href="#" class="downloadMeeting">下载</a> <a href="#" class="delMeeting">删除</a> <a href="#" class="meetingLog">日志</a></td>
              </tr>
              <tr>
                <td align="center">产品讨论会 <span class="editUser editmeetingN"></span></td>
                <td align="center">葛鹏</td>
                <td align="center">2001</td>
                <td align="center">多方会议</td>
                <td align="center">2015-12-04 8:30</td>
                <td align="center">2015-12-04 10:30</td>
                <td align="center" class="meetingUser">葛鹏   张自敏  宇浩 <a href="#" class="moreMeetingU">更多</a></td>
                <td align="center" class="meetingSet"><a href="#" class="shareMeeting">分享</a> <a href="#" class="downloadMeeting">下载</a> <a href="#" class="delMeeting">删除</a> <a href="#" class="meetingLog">日志</a></td>
              </tr>
              <tr>
                <td align="center">产品讨论会 <span class="editUser editMeetingN"></span></td>
                <td align="center">葛鹏</td>
                <td align="center">2001</td>
                <td align="center">多方会议</td>
                <td align="center">2015-12-04 8:30</td>
                <td align="center">2015-12-04 10:30</td>
                <td align="center" class="meetingUser">葛鹏   张自敏  宇浩 <a href="#" class="moreMeetingU">更多</a></td>
                <td align="center" class="meetingSet"><a href="#" class="shareMeeting">分享</a> <a href="#" class="downloadMeeting">下载</a> <a href="#" class="delMeeting">删除</a> <a href="#" class="meetingLog">日志</a></td>
              </tr>
              <tr>
                <td align="center">产品讨论会 <span class="editUser editMeetingN"></span></td>
                <td align="center">葛鹏</td>
                <td align="center">2001</td>
                <td align="center">多方会议</td>
                <td align="center">2015-12-04 8:30</td>
                <td align="center">2015-12-04 10:30</td>
                <td align="center" class="meetingUser">北京总部</td>
                <td align="center" class="meetingSet"><a href="#" class="shareMeeting">分享</a> <a href="#" class="downloadMeeting">下载</a> <a href="#" class="delMeeting">删除</a> <a href="#" class="meetingLog">日志</a></td>
              </tr>
              <tr>
                <td align="center">产品讨论会 <span class="editUser editMeetingN"></span></td>
                <td align="center">葛鹏</td>
                <td align="center">2001</td>
                <td align="center">多方会议</td>
                <td align="center">2015-12-04 8:30</td>
                <td align="center">2015-12-04 10:30</td>
                <td align="center" class="meetingUser">北京总部</td>
                <td align="center" class="meetingSet"><a href="#" class="shareMeeting">分享</a> <a href="#" class="downloadMeeting">下载</a> <a href="#" class="delMeeting">删除</a> <a href="#" class="meetingLog">日志</a></td>
              </tr>
              <tr>
                <td align="center">产品讨论会 <span class="editUser editMeetingN"></span></td>
                <td align="center">葛鹏</td>
                <td align="center">2001</td>
                <td align="center">多方会议</td>
                <td align="center">2015-12-04 8:30</td>
                <td align="center">2015-12-04 10:30</td>
                <td align="center" class="meetingUser">北京总部</td>
                <td align="center" class="meetingSet"><a href="#" class="shareMeeting">分享</a> <a href="#" class="downloadMeeting">下载</a> <a href="#" class="delMeeting">删除</a> <a href="#" class="meetingLog">日志</a></td>
              </tr>
            </table>
          </div>
          <div class="page"><span class="preP"><a href="#">上一页</a></span> <span><a href="#">1</a></span> <span><a href="#" class="curP">2</a></span> <span><a href="#">3</a></span> <span>...</span> <span><a href="#">10</a></span> <span class="nextP"><a href="#">下一页</a></span> <span class="lastP"><a href="#">最后一页</a></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footMain">
      <ul class="clearfix">
        <li><a href="#">关于我们</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">使用反馈</a></li>
        <li><a href="#">论坛</a></li>
        <li class="hotLine">
          <h3>400-6139-070</h3>
          <span>【仅收市话费，7*24小时服务】</span> </li>
      </ul>
      <div class="copyRight">北京随锐科技有限公司  版权所有<br>
        Copyright © 2006-2014 SUIRUI, Co., Ltd. All Rights Reserved</div>
    </div>
  </div>
</div>
<div id="vertical_box">
  <div id="vertical_box_sub">
    <div id="vertical_box_container">
      <div class="popOut" id="delMeeting">
        <h3>删除会议<i class="closePop">×</i></h3>
        <div class="popContent">
          <table width="400" border="0" cellspacing="0" cellpadding="0" class="delTip">
            <tbody>
              <tr>
                <td><img src="images/warming.png" width="49" height="49"></td>
                <td><p>是否确定将会议删除？</p></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="btns"><a href="#" class="define orange">确 定</a><a href="#" class="cancel">取 消</a></p>
      </div>
      <div class="popOut" id="downloadMeeting">
        <h3>下载<i class="closePop">×</i></h3>
        <div class="popContent">
          <table width="450" border="0" cellspacing="0" cellpadding="0" class="delTip">
            <tbody>
              <tr>
                <td align="center"><a href="#"><img src="images/meetingDAn.png" width="112" height="113"></a></td>
                <td align="center"><a href="#"><img src="images/meetingDAp.png" width="112" height="113"></a></td>
                <td align="center"><a href="#"><img src="images/meetingDWi.png" width="115" height="116"></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="popOut" id="editMeetingN">
        <h3>编辑会议主题<i class="closePop">×</i></h3>
        <div class="popContent">
          <table width="380" border="0" cellspacing="0" cellpadding="0" class="">
            <tbody>
              <tr>
                <td align="center"><input type="text" value="请输入会议主题"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="btns"><a href="#" class="define blue">确 定</a><a href="#" class="cancel">取 消</a></p>
      </div>
      <div class="popOut" id="meetingLog">
        <h3>日志<i class="closePop">×</i>
          <div class="search pl">
            <input type="text" class="iptText" value="搜索联系人或会议主题">
            <input name="" type="button" class="searchBtn">
          </div>
        </h3>
        <div class="popContent">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableSty2">
            <tbody>
              <tr>
                <th>会议主题</th>
                <th>分享时间</th>
                <th>分享时长</th>
                <th>链接</th>
                <th>分享账号</th>
                <th>状态</th>
                <th>观看历史</th>
              </tr>
              <tr>
                <td>产品讨论会议</td>
                <td>2015-12-07 10:00</td>
                <td>4小时</td>
                <td><span><a href="#">复制链接</a></span></td>
                <td>葛鹏 张自敏 宇浩 <span><a href="#" class="moreMeetingU">更多</a></span></td>
                <td>正在共享</td>
                <td><a href="#" class="moreMeetingU">查看</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="popOut" id="moreMeetingU">
        <h3>日志<i class="closePop">×</i>
          <div class="search pl">
            <input type="text" class="iptText" value="搜索联系人或会议主题,或用户ID">
            <input name="" type="button" class="searchBtn">
          </div>
        </h3>
        <div class="popContent">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableSty2">
            <tbody>
              <tr>
                <th>观看人昵称</th>
                <th>观看人ID</th>
                <th>观看日期</th>
              </tr>
              <tr>
                <td>六合风同</td>
                <td>20021</td>
                <td>2015-12-05 9:30</td>
              </tr>
              <tr>
                <td>六合风同</td>
                <td>20021</td>
                <td>2015-12-05 9:30</td>
              </tr>
              <tr>
                <td>六合风同</td>
                <td>20021</td>
                <td>2015-12-05 9:30</td>
              </tr>
              <tr>
                <td>六合风同</td>
                <td>20021</td>
                <td>2015-12-05 9:30</td>
              </tr>
              <tr>
                <td>六合风同</td>
                <td>20021</td>
                <td>2015-12-05 9:30</td>
              </tr>
              <tr>
                <td>六合风同</td>
                <td>20021</td>
                <td>2015-12-05 9:30</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="popOut" id="shareMeeting">
        <h3>分享<i class="closePop">×</i></h3>
        <div class="popContent">
          <div class="shareMCon clearfix">
            <div class="userCom">
              <h3><a href="#">随锐科技股份有限公司</a></h3>
              <ul style="display:block;">
                <li class="allUser"><a href="#">全部联系人（160）</a></li>
                <li><a href="#">VIP（15）</a></li>
                <li><a href="#">VIP（15）</a></li>
                <li class="curTeam"><a href="#">VIP（15）</a></li>
                <li><a href="#">VIP（15）</a></li>
              </ul>
              <h3><a href="#">随锐科技股份有限公司</a></h3>
              <ul>
                <li class="allUser"><a href="#">全部联系人（160）</a></li>
                <li><a href="#">VIP（15）</a></li>
                <li><a href="#">VIP（15）</a></li>
                <li><a href="#">VIP（15）</a></li>
                <li><a href="#">VIP（15）</a></li>
              </ul>
            </div>
            <div class="userList">
              <div class="search clearfix">
                <input type="text" class="iptText" value="姓名/账号">
                <input name="" type="button" class="searchBtn">
              </div>
              <ul>
                <li><a href="#">王艳菊1</a></li>
                <li><a href="#">王艳菊2</a></li>
                <li><a href="#">王艳菊3</a></li>
                <li><a href="#">王艳菊4</a></li>
                <li><a href="#">王艳菊5</a></li>
                <li><a href="#">王艳菊6</a></li>
                <li><a href="#">王艳菊7</a></li>
              </ul>
            </div>
            <div class="selectUser">
              <ul>
              </ul>
            </div>
            <div class="timeLimit">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>观看时长:</td>
                  <td><input name="" type="text" style="background-image:none;"></td>
                  <td><input name="" type="text" class="tSelectIpt">
                    <div class="tSelectOpt">
                      <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                      </ul>
                    </div></td>
                </tr>
              </table>
            </div>
          </div>
          <p class="shareCopy"><a href="#">确定，并复制链接</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/jquery-1.8.0.js"></script> 
<script src="js/js.js"></script>
</body>
</html>
